CleaningServices/.vs/CleaningServices/v15/Server/sqlite3/storage.ide-shm
CleaningServices/CleaningServices/obj/project.assets.json
CleaningServices/CleaningServices/obj/CleaningServices.csproj.nuget.g.props
CleaningServices/.vs/config/applicationhost.config
CleaningServices/.vs/CleaningServices/v15/Server/sqlite3/storage.ide-wal
CleaningServices/.vs/CleaningServices/v15/Server/sqlite3/storage.ide
